.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.first{
  color: rgb(114, 18, 18);
  margin: 30px;
}

.n2{
  color: rgb(75, 59, 255);
  margin: 30px;
  font-weight: bold;
  font-style: italic;
}

li{
  padding: 10px;
  margin: 0px 20px;
  font-size: 30px;
  display: inline-block;
}


.nav-link{
  font-size: 20px;
  color: #972fff;
}
.navbar-nav .nav-link.active{
    color: rgb(123, 0, 255);
}
.navbar-brand{
  color: rgb(203, 188, 251);
  /* margin-left: 40px; */
}
.navbar-brand:hover {
  color:#eb8d8d;
  font-size:20px
} 

.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: rgb(247, 129, 129);
}
